.cabecalho {
    display: flex;
    align-items: center;
}

.cabecalho__botoes {
    display: flex;
    align-items: center;
    margin: 3em 0;
    width: 100%;
}

.cabecalho__imagem {
    margin-left: 3em;
}

.cabecalho__patas {
    position: absolute;
    top: 0;
    right: 0;
}

.cabecalho__usuario--imagem {  
    margin-right: 3.5em;
}