.cabecalho__botoes {
    display: flex;
    align-items: center;
    margin: 3em 0;
}

.cabecalho__imagem {
    padding-left: 3em;
}

.cabecalho__patas {
    position: absolute;
    top: 0;
    right: 0;
}

