.home__titulo {
    color: var(--primaria);
    line-height: 20px;
    margin: 2em 5em;
    text-align: center;
}

.cartoes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    padding: 1em 0;
}

.cartoes__animais {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 1em 2em;
    background: var(--detalhes-claro);
    width: 100%;
}

.cartoes__conteudo {
    margin-left: 1.5em;
    width: 100%;
}

.cartoes__nome {
    align-self: flex-start;
    color: var(--primaria);
    font-weight: 600;
    margin-bottom: 0.5em;
} 

.cartoes__info {
    color: var(--cinza-escuro);
    font-size: 14px;
    line-height: 20px;
    margin: 0.2em 0;
}

.cartoes__local {
    font-size: 12px;
    line-height: 16px;
    margin-top: 2.5em;
}

.cartoes__contato {
    background-image: url("../img/ícone_mensagem.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    font-size: 10px;
    line-height: 16px;
    margin-top: 1em;
    text-align: center;
}