.container__geral {
    min-height: calc(100vh - 100px);
}

.rodape {
    height: 100px;
    background: var(--secundaria);
    text-align: center;
}    

.rodape__texto {
    color: var(--branco);
    padding: 2.5em 0;
}