@import url("../estilos/cabecalho.css");
@import url("../estilos/rodape.css");

:root {
    --fonte-principal: 'Poppins';
    --fonte-secundaria: 'IBM Plex Sans';
    
    --branco: #FFFFFF;
    --primaria: #3772FF;
    --secundaria: #36D6AD;
    --terciaria: #FC7071;
    --tercia-hover: #FF9D9E;
    --terciaria-creme: #FCF0E3;
    --detalhes-escuro: #737380;
    --detalhes-medio: #BCBCBC;
    --detalhes-claro: #F7F7F7;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

